table th, td{
    font-size:11px;
    font-family: 'Verdana', 'Geneva', sans-serif ;
}


.container-fluid {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.select-option {
  width: 100%;
}

.search-container {
  width: 100%;
}