
.box-shadowing{
  box-shadow: 2px 4px 10px 0 rgba(124, 8, 8, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05) !important;
}

.select-option{
  border:2px soldi black !important;
}

table{
  font-size:11px!important;
  font-family: 'Verdana', 'Geneva', sans-serif !important;
}

table td{
  font-weight: 500;
}


