<div class="container-fluid">
       <div class="page-background-h">

<section class="content-header">
    <div class="header-icon"><i class="fa fa-cubes" style="color:#00235e"></i></div>
    <div class="header-title">      
        <h1>Incoming Item Details</h1>       
    </div>
    </section>
    <section class="container-fluid h-100">
        <div class="text-center mt-5">
            <h1 class="text-danger">Coming soon...</h1>
        </div>
    </section>
    </div>
    </div>
    

    

