
<ngx-spinner size="medium" bdColor="rgba(0, 0, 0, 0.2)" color="#00235E" type="ball-clip-rotate">
</ngx-spinner>

<section class="content-header">
    <div class="header-icon"><i class="fa fa-file-text text-success" aria-hidden="true"></i></div>
    <div class="header-title">
        <h1>{{toggleAddbtn ? 'User Privilege List' :(updatePrivilegebtn? 'Update User Privilege':'Add User Privilege')}}</h1>
    </div>
   
    <div class="add-icon-section" *ngIf="toggleAddbtn">
        <button  class="btn btn-toggle "  (click)="toggleActionAdd()" [disabled]="userRole !== '2'"><i class="fa fa-plus pr-1"></i>Add Privilege</button>  
    </div>

    <div class="add-icon-section"  *ngIf="toggleListBtn">
        <button  class="btn btn-toggle "   (click)="toggleActionUpdate()"><i class="fa fa-search pr-1"></i>Privilege List</button> 
</div>
</section> 
<div class="container-fluid">
    <div class="data-content">
        <div class="page-background-h">
          <div class="flex-box"> 
            <div class="col-md-12 col-sm-12 col-lg-5 mt-5" *ngIf="displayCategoyForm">
                <div class="data-form">
                    <h1 class="text-center form-heading  mb-4 mt-3">{{updatePrivilegebtn ? 'Update User Privilege' : 'Add User Privilege'}}</h1>
                    <div class="form-group m-0" [formGroup]="addPrivilegeForm">
                        <div class="form-group m-0">
                        <label for="privilege_name" class="form-label">User Privilege:<sup>*</sup></label>
                        <input type="text" id="privilege_name" class="form-control data-control p-2" placeholder="Enter User Privilege " 
                        formControlName='privilege_name' [(ngModel)]="privilegedata.privilege_name" (keydown)="NoSpaceallowedatstart($event)"/>
                        <div class="mandatory my-1 text-danger font-italic"
                        *ngIf="addPrivilegeForm.get('privilege_name').hasError('required') && addPrivilegeForm.get('privilege_name').touched">
                        Required
                      </div>
                      </div>

                      <div class="form-group m-0 mt-2">
                        <label for="level" class="form-label">Level:<sup>*</sup></label>
                        <!-- <input type="text" class="form-control data-control" placeholder="Enter Cateogory Name" /> -->

                            <select #level id="level" class="form-control data-control form-control-sm"  formControlName="level" [(ngModel)]="privilegedata.level" (change)="userlevel(+level.value)">
                            <option class="select-border" hidden disabled value=0>Select</option>
                            <option class="select-border"  value=1>Level 1</option>
                            <option class="select-border"  value=2>Level 2</option>
                            <option class="select-border"  value=3>Level 3</option>                 
                            <option class="select-border"  value=4>Level 4</option>                 
                          </select>

                          <div class="mandatory my-1 text-danger font-italic"
                          *ngIf="addPrivilegeForm.get('level').hasError('pattern') && addPrivilegeForm.get('level').touched">
                         Required
                        </div>
  

                    </div>

                      <div class="data-form-btn">
                        <div class="form-group text-center ">
                            <!-- <button class="btn btn-data-login btn-block" *ngIf="addPrivilegebtn" (click)="addPrivilegefunc()">Add</button> -->
                            <button class="btn btn-data-login btn-block" *ngIf="addPrivilegebtn" (click)="addPrivilegefunc()">Add</button>
                        </div>
                    </div>

                    <div class="data-form-btn">
                        <div class="form-group text-center ">
                            <button class="btn btn-data-login btn-block" *ngIf="updatePrivilegebtn"   (click)="updatePrivilegefunc()">Update</button>
                        </div>
    
                    </div>          
                    </div>
                </div>
            </div>

          </div>
           

            <div class="data-control-box" *ngIf="displayCategoyList && isDataorNot">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="input-group my-3  search-container">

                                        <input type="text" class=" data-control form-control mr-2"
                                            placeholder="Search..." aria-describedby="basic-addon2"
                                            [(ngModel)]="searchItem" (keydown)="NoSpaceallowedatstart($event)" >
                                        <!-- <button type="submit"><i class="fa fa-filter"></i></button> -->
                                        <!-- <input type="text" class="form-control" placeholder="Enter Supplier Name"  aria-describedby="basic-addon2" [(ngModel)]="searchItem2" (ngModelChange)="EmptySearchItem()"> -->

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container-fluid" *ngIf="isDataorNot">
                    <div class="row">
                        <div class="col-lg-12 col-12 col-sm-12 ">
                            <div class=" table-responsive overflow-auto " >
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                        <tr >
                                            <th scope="col" class="table-heading-color" style="width:5%;">S.No.</th>                    
                                            <th scope="col" class="table-heading-color" style="width:30%;" (click)="sort('privilege_name')">Privilege Name <i class="fa fa-sort"></i></th>
                                            <th scope="col" class="table-heading-color" style="width:30%; white-space: nowrap;" (click)="sort('user_name')">Created by <i class="fa fa-sort"></i></th>
                                            <th scope="col" class="table-heading-color" style="width:30%; white-space: nowrap;" (click)="sort('privilege_creation_date')">Created Date <i class="fa fa-sort"></i></th>
                                            <th scope="col" class="table-heading-color" colspan="2" style="width:5%;" *ngIf="userRole === '2'">Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let items of filteredprivilegeData | filter:searchItem| paginate:{itemsPerPage: tableSize,
                                            currentPage: page, totalItems:emptyDataList.length}; let i = index">
                                            <th  class="table-heading-sub-text" scope="row">{{ (page - 1) * tableSize + i +1 }}</th>
                                            <td class="table-heading-sub-text">{{items.privilege_name}}</td> 
                                            <td class="table-heading-sub-text">{{items.user_name}}</td> 
                                            <td class="table-heading-sub-text">{{items.privilege_creation_date}}</td> 
                                            <td class="table-heading-sub-text" *ngIf="userRole === '2'"><i class="fa fa-edit table-edit-icon icon-green" aria-hidden="true" (click)="updateprivilege(items)"></i></td>
                                            <td class="table-heading-sub-text" *ngIf="userRole === '2'"><i class="fa fa-trash table-edit-icon icon-red" aria-hidden="true" (click)="privilegeRemove(items.privilege_id)"></i></td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mt-2 mb-2 ">
                    <div class="row">
                        <div class="col-lg-10  d-flex">
                            <div class="pagination "  class="active" >
                                <pagination-controls   previousLabel="Prev" nextLabel="Next" (pageChange)="ontableDatachange($event)">
                                    </pagination-controls>
                        
                            </div>
                        </div>
                        <div class="col-lg-2   ml-auto ">
                            <div class="form-group  select-size d-flex">
                                <p class="  report-headings">Items/page</p>
                                <select class=" data-control-select ml-2  select-size form-control"
                                (change)="ontableSizechange($event)" >
                                <option class="select-border" *ngFor=" let size of tableSizes" [value]="size">
                                    {{size}}
                                </option>
                            </select>
                            </div>
                        </div>
                    </div>
               </div> 
            </div>
            <div class="noData text-center container-fluid mt-2 mb-2" *ngIf="!isDataorNot && displayCategoyList">
                <h1 class="text-danger">No data found</h1>
            </div>
        </div>
    </div>
</div>
