.center-data{
    text-align: center!important;
}

table{
    font-size:11px!important;
    // color:black;
    font-family: 'Verdana', 'Geneva', sans-serif !important;
    //  font-family:'Tahoma', 'Geneva', sans-serif;
    //  font-family:'New Roman', 'Times', serif;

}

.data-content{
    line-height: 17px ;
    padding: 0;
}

// .data-control-box{
//     padding:0;
// }

