<section class="content-header">
    <div class="header-icon"><i class="fa fa-registered" aria-hidden="true"></i></div>
    <div class="header-title">
        <h1>Company Registration</h1>
    </div>
</section>


<div class="container-fluid">
    <div class="data-content">
        <div class="page-background-h container">
            <div class="flex-box">
                <div class=" col-md-12 col-sm-12 col-lg-7">
                    <div class="data-form" [formGroup]="companyregistrationForm">
                        <h1 class="text-center form-heading">Company Registeration</h1>

                        <div class="form-group  m-2">
                            <label for="logo" class="form-label"><sup>*</sup>Company Logo</label>
                            <div>
                                <input type="file" #logo id="logo" class=" btn form-control-file form-choosen-button " name="pdf"
                                    accept="image/*" formControlName="company_logo" (change)="selectedLogo($event)">
                            </div>


                            <div class="mandatory my-1 text-danger"
                                *ngIf="companyregistrationForm.get('company_logo').hasError('required') && companyregistrationForm.get('company_logo').touched">
                                Company Logo is Required.</div>

                        </div>

                        <div class="form-group  m-2">
                            <label for="logo2" class="form-label">Company Logo2</label>
                            <div>
                                <input type="file" #logo2 id="logo2" class=" btn form-control-file form-choosen-button " name="pdf"
                                    accept="image/*" formControlName="company_logo2" (change)="selectedLogo2($event)">
                            </div>

                        </div>

                        <div class="form-group m-2">
                            <label for="companyname" class="form-label"><sup>*</sup>Company Name</label>
                            <input type="text" id="companyname" class="form-control data-control p-2" placeholder="Enter Company Name"
                                formControlName="company_name" [(ngModel)]="companyData.company_name" />

                            <div class="mandatory my-1 text-danger"
                                *ngIf="companyregistrationForm.get('company_name').hasError('required') && companyregistrationForm.get('company_name').touched">
                                Company Name is Required.</div>

                        </div>

                        <div class="form-group m-2">
                            <label for="nickname" class="form-label">Nick Name</label>
                            <input type="text" id="nickname" class="form-control data-control p-2" placeholder="Enter Nick Name"
                                formControlName="nick_name" [(ngModel)]="companyData.nick_name" />
                        </div>


                        <div class="form-group m-2">
                            <label for="address" class="form-label"> <sup>*</sup>Address</label>
                            <textarea class="form-control data-control" #address placeholder="Enter Full Address" id="address"
                                rows="3" formControlName="address" [(ngModel)]="companyData.address" (keydown)="NoSpaceallowedatstart($event)" ></textarea>

                            <div class="mandatory my-1 text-danger"
                                *ngIf="companyregistrationForm.get('address').hasError('required') && companyregistrationForm.get('address').touched">
                                Address is Required.</div>
                        </div>


                        <div class="form-group m-2">
                            <label for="telephone_number" class="form-label"><sup>*</sup>Telephone Number</label>
                            <input type="number" id="telephone_number" class="form-control data-control p-2" placeholder="Enter Phone Number"
                                formControlName="telephone_no" [(ngModel)]="companyData.telephone_no" />

                            <div class="mandatory my-1 text-danger"
                                *ngIf="companyregistrationForm.get('telephone_no').hasError('required') && companyregistrationForm.get('telephone_no').touched">
                                Phone Number is Required.</div>

                            <div class="mandatory mandatory my-1 text-danger"
                                *ngIf="companyregistrationForm.get('telephone_no').hasError('pattern') && companyregistrationForm.get('telephone_no').touched">
                                Phone Number is not valid.</div>
                        </div>

                        <div class="form-group m-2">
                            <label for="mobile_number" class="form-label">Mobile No. 1</label>
                            <input type="number" id="mobile_number" class="form-control data-control p-2" placeholder="Enter Mobile Number"
                                formControlName="mobile1" [(ngModel)]="companyData.mobile1" />

                            <div class="mandatory mandatory my-1 text-danger"
                                *ngIf="companyregistrationForm.get('mobile1').hasError('pattern') && companyregistrationForm.get('mobile1').touched">
                                Phone Number is not valid.</div>
                        </div>

                        <div class="form-group m-2">
                            <label for="mobile_number2" class="form-label">Mobile No. 2</label>
                            <input type="number" id="mobile_number2" class="form-control data-control p-2" placeholder="Enter Mobile Number"
                                formControlName="mobile2" [(ngModel)]="companyData.mobile2" />

                            <div class="mandatory mandatory my-1 text-danger"
                                *ngIf="companyregistrationForm.get('mobile2').hasError('pattern') && companyregistrationForm.get('mobile2').touched">
                                Mo Number is not valid.</div>
                        </div>

                        <div class="form-group m-2">
                            <label for="registerd_email" class="form-label"><sup>*</sup>Registered Email:</label>
                            <input type="email" id="registerd_email" class="form-control data-control p-2" placeholder="Enter Email "
                                formControlName="registered_email" [(ngModel)]="companyData.registered_email" />
                        </div>

                        <div class="mandatory my-1 text-danger"
                            *ngIf="companyregistrationForm.get('registered_email').hasError('required') && companyregistrationForm.get('registered_email').touched">
                            Email is Required.</div>

                        <div class="mandatory mandatory my-1 text-danger"
                            *ngIf="companyregistrationForm.get('registered_email').hasError('pattern') && companyregistrationForm.get('registered_email').touched">
                            Email Address is not valid.
                        </div>

                        <div class="form-group m-2">
                            <label for="gstin" class="form-label"><sup>*</sup>GSTIN:</label>
                            <input type="text" id="gstin" class="form-control data-control p-2" placeholder="Enter GSTIN..."
                                formControlName="gstin" [(ngModel)]="companyData.gstin" />
                        </div>



                        <div class="data-form-btn  ">
                            <div class="form-group text-center ">
                                <button type="submit" class="btn btn-data-login btn-block" autocomplete="on"
                                    (click)="submitRegistration()">Add</button>
                                    <!-- (click)="submitRegistraion()">Add</button> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
