table th, td{
    font-size:11px;
    font-family: 'Verdana', 'Geneva', sans-serif ;
}

.data-content{
    line-height: 17px ;
    padding: 0;
}

.data-control-box{
    padding:0;
}

// .table td, .table th{
//     padding:0 px !important;
// }

.table-responsive {
  overflow-x: auto !important;
}

th, td {
  white-space: nowrap !important;
}
