<ngx-spinner size="medium" bdColor="rgba(0, 0, 0, 0.2)" color="#00235E" type="ball-clip-rotate">
</ngx-spinner>
<section class="content-header">
    <div class="header-icon"><i class="fa fa-files-o" style="color:#FF00FF" aria-hidden="true"></i></div>
    <div class="header-title">
        <h1>Direct Purchases</h1>
    </div>
</section>
<div class="container-fluid" *ngIf="isDataorNot">
    <div class="data-content">
        <div class="page-background-h">
            <!-- copy paste comment starts here -->
            <div class="container-fluid mt-0 pt-0">
                <div class="row">
                    <div class="col-lg-12 col-12 col-sm-12 mt-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="form-label">Start Date </label>
                                    <input type="date" class="form-control data-control-date" placeholder="Start Date"
                                        [(ngModel)]="uploaddocbydate.start_date">
                                </div>
                                <div class="col-lg-3">
                                    <label class="form-label">End Date </label>
                                    <input type="date" class="form-control data-control-date" placeholder="End Date"
                                        [(ngModel)]="uploaddocbydate.end_date">
                                </div>
                                <div class="col-lg-6">
                                    <div class=" mt-3">
                                        <i class="fa fa-refresh mr-2 refresh-icon" [class.rotate]="isRotating"
                                            (click)="refreshfilter()" title="refresh"></i>
                                        <button class="btn btn-data-add d-inline m-auto" (click)="filterData()"
                                            [disabled]="!uploaddocbydate.start_date || !uploaddocbydate.end_date">Filter</button>
                                        <button class="btn btn-login-report m-2"
                                            (click)="exportToexcelfromnode()">Export To
                                            Excel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mb-3">
                <div class="row">
                    <div class="col-lg-12 col-12 col-md-12 col-sm-12">
                        <div class="input-group   mb-2  search-container">
                            <input type="text" class=" data-control form-control   mr-2" placeholder="Search..."
                                aria-describedby="basic-addon2" (input)="filterData()" [(ngModel)]="searchTerm"
                                (keydown)="NoSpaceallowedatstart($event)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-12 col-sm-12 ">
                        <div class=" table-responsive overflow-auto">
                            <table class="table  table-bordered table-hover small-font">
                                <thead>
                                    <tr>
                                        <th scope="col" class="table-heading-color" style="width:5%;">S.No.</th>
                                        <th scope="col" class="table-heading-color" style="width:27%;"
                                            (click)="sort('document_name')">Document Name <i class="fa fa-sort"></i>
                                        </th>
                                        <th scope="col" class="table-heading-color" style="width:10%;"
                                            (click)="sort('category_name')">Category Name <i class="fa fa-sort"></i>
                                        </th>
                                        <th scope="col" class="table-heading-color" style="width:33%;"
                                            (click)="sort('description')">Description <i class="fa fa-sort"></i></th>
                                        <th scope="col" class="table-heading-color center-data" style="width:5%;">
                                            Downloads</th>
                                        <th scope="col" class="table-heading-color center-data" style="width:5%;">View
                                        </th>
                                        <th scope="col" class="table-heading-color" style="width:7%;"
                                            (click)="sort('user_name')">Uploaded By <i class="fa fa-sort"></i></th>
                                        <th scope="col" class="table-heading-color" style="width:8%;"
                                            (click)="sort('created_date')">Upload Date <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let items of filteredDocdata| paginate:
                                        {itemsPerPage: tableSize,
                                          currentPage: page, totalItems:empltyDataList.length}; let i = index ">

                                        <th class="table-heading-sub-text" scope="row">{{ (page - 1) * tableSize + i +1}}</th>
                                        <td class="table-heading-sub-text">
                                        {{ items.document_name }}
                                        </td>
                                        <td class="table-heading-sub-text">{{items.category_name?items.category_name:'NA'}}</td>

                                        <td class="table-heading-sub-text">
                                            {{ items.description? items.description : 'NA' }}
                                        </td>

                                        <td class="table-heading-sub-text center-data">
                                            <i class="p-0 m-0 border-0 fa fa-download icon-green table-edit-icon"
                                                (click)="downloadPDF(items?.document_path, items?.document_name)"></i>

                                        </td>
                                        <td class="table-heading-sub-text center-data">
                                            <a (click)="checkAndOpenFile(items.document_path)"><i
                                                    class="fa fa-eye icon-eye table-edit-icon"
                                                    aria-hidden="true"></i></a>

                                        </td>
                                        <td class="table-heading-sub-text">{{items.user_name?items.user_name:'NA'}}</td>
                                        <td class="table-heading-sub-text">
                                            {{items.created_date?items.created_date:'NA'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-0 ">
                <div class="row">
                    <div class="col-lg-10  d-flex">
                        <div class="pagination " class="active">
                            <pagination-controls previousLabel="Prev" nextLabel="Next"
                                (pageChange)="ontableDatachange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                    <div class="col-lg-2   ml-auto">
                        <div class="form-group d-flex select-size">
                            <p class="report-headings">Items/page</p>
                            <select class=" data-control-select ml-2  select-size form-control"
                                (change)="ontableSizechange($event)">
                                <option class="select-border" *ngFor=" let size of tableSizes" [value]="size">
                                    {{size}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="noData text-center mt-3 mb-3 container-fluid" *ngIf="!isDataorNot">
    <h1 class="text-danger">No data found</h1>
</div>