<div class="login-background">
    <div class="box">
        <div class="logincontainer">
            <div class="login-header">
                <!-- <img src="./assets/images/aim-justified-logo3.png" class="mx-auto d-block"> -->

                       <div> <img src="./assets/images/aim-justified-logo3.png" class="mx-auto d-block"></div>
                <hr/>

                  <h2>Forgot Password</h2>
            </div>

              <form class="login-content" [formGroup]="forgotPasswordForm">
                <div class="form-group my-3" >
                    <label for="" class="form-label">Username/Email : </label>
                    <input type="text" id="useremail" #useremail autocomplete="false"  class="form-control login-control" placeholder="Enter username/emailid"  formControlName="user_email" (keydown)="NoSpaceallowedatstart($event)"/>
                    <i class="fa fa-user icon-option" aria-hidden="true" (keydown)="NoSpaceallowedatstart($event)"></i>

                    <span class="mandatory ml-2 font-italic" *ngIf="forgotPasswordForm.controls['user_email'].touched && forgotPasswordForm.controls['user_email'].invalid" style="color:red; font-size: 12px;">Required.</span>


                </div>
           

                <div class="form-group text-center">
                   <button  type="submit" class="btn btn-custom-login btn-block text-white" (click)="forgotPassword(forgotPasswordForm.value)">Submit</button>
                </div>

                <div class="login-footer d-flex justify-content-between mt-3">
                    <div class="form-check">
                      <label for="rememberme" class="form-check-label">
                       <a routerLink="../login">Login</a>
                      </label>
                    </div>
              </div>
            </form>

        </div>
    </div> 
</div>
